@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131842;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131842;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #e68369;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ecceae;
}

.selected {
  text-decoration: underline;
  font-weight: 700;
}
